.CartBord {
  width: 100%;
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .CartBord {
    flex-direction: column;
    justify-content: center;
  }
}
.CartBord h3 {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  text-align: left;
}

.CartPage {
  width: 100%;
  display: grid;
  grid-template-columns: 55% 40%;
  gap: 5%;
  margin-bottom: 130px;
}
@media screen and (max-width: 768px) {
  .CartPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.List {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  list-style: none;
}
.List__wrapper {
  width: 100%;
}
.List-item {
  display: grid;
  grid-template-columns: 50% 45%;
  gap: 5%;
  margin-left: -30px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.459);
}
@media screen and (max-width: 768px) {
  .List-item {
    grid-template-columns: 40% 55%;
  }
}
.List-item-img {
  width: 100%;
}
.List-item-img img {
  height: 100%;
  width: 100%;
}
.List-item-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  gap: 0;
}
.List-item-data h2 {
  width: 202px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}
@media screen and (max-width: 768px) {
  .List-item-data h2 {
    font-size: 16px;
    width: 145px;
  }
}
.List-item-data h3 {
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .List-item-data h3 {
    font-size: 16px;
  }
}
.List-item-data h3 span {
  color: #F16D7F;
}
.List-item-data P {
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .List-item-data P {
    font-size: 16px;
  }
}
.List-item-data P span {
  border: 1px solid black;
  padding: 5px;
}
.List-item-close {
  position: absolute;
  right: 22px;
  top: 28px;
  cursor: pointer;
}
.List__wrapper {
  max-width: 652px;
}

.RigthSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.SHIPPINGADRESS {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
.SHIPPINGADRESS h3 {
  margin-top: 18px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.SHIPPINGADRESS input {
  width: 360px;
  padding: 11px;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  height: 45px;
  border: 1px solid #222222;
}
.SHIPPINGADRESS button {
  width: 101.41px;
  height: 35px;
  border: 1px solid #222222;
  background: transparent;
  font-family: Lato;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}

.PROCEEDTOCHECKOUT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 86px;
  background-color: #F5F3F3;
  width: 360px;
  height: 214px;
}
.PROCEEDTOCHECKOUT p {
  width: 100%;
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}
.PROCEEDTOCHECKOUT h3 {
  width: 100%;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.PROCEEDTOCHECKOUT h3 span {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.PROCEEDTOCHECKOUT h3::after {
  margin-top: 12px;
  margin-left: calc(50% - 137px);
  content: "";
  display: block;
  width: 275px;
  height: 1px;
  border: 1px solid #EAEAEA;
  background-color: #EAEAEA;
  text-align: center;
}
.PROCEEDTOCHECKOUT button {
  padding: 15px;
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  border: none;
  color: #EAEAEA;
  line-height: 19px;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 72px;
}
.btns button {
  width: 225px;
  height: 50px;
  color: #A4A4A4;
  border: 1px solid #A4A4A4;
  padding: 17px;
  background: transparent;
}
@media screen and (max-width: 768px) {
  .btns button {
    width: 175px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=cart.css.map */
